.total-sii-wrapper {
    background-color: white;
    display: flex;
    height: auto;
}

.total-sii-body {
    height: auto;
    width: 100%;
    padding: 30px;
}

.total-sii-name {
    width: 100%;
}

.total-sii-name h1 {
    font-size: 35px;
    text-transform: uppercase;
    color: black;
    margin-top: 5vh;
}

.total-sii-tbl-body {
    height: 90vh;
    width: 78vw;
    overflow-y: scroll;
}

.total-sii-container {
    margin-top: 20px;
    padding: 10px;
    height: auto;
}

.total-sii-download-btn {
    height: 40px;
    display: flex;
    justify-content: center;
}

.totalsii-tbl-body {
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.total-sii-thead {
    background-color: #D4AF37;
}