.header1{
    position: fixed;
    top: 0;
    margin-left: 5vh;
    width: 100%;
    background: #000336;
    height: 70px;
    box-shadow: gray;
}

.header_navigation1{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
}

.webname1{
    width: 100%;
    display: flex;
    color: #D4AF37;
    letter-spacing: 15px;
}

.webname1 h1{
    font-size: 23px;
    margin-left: -83vh;
}

.header_logo1 img{
    width: 18%;
    height: auto;
    margin-top: 16px;
    margin-left: -3vh;
}

.header_logo1 a{
    text-decoration: none;
    font-size: 2.5rem;
}

.header_item1 a{
    color: white;
    text-decoration: none;
}

.header_item1 a:hover,
.header_item1 a:active{
    cursor: pointer;
    color: #D4AF37;
}

.header_item1 ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header_item1 li{
    padding: 0 0.5rem;
    size: 2em;
}

.space1{
    flex: 1;
}