.myprofile-wrapper{
    background-color: #f0f0f0;
    display: flex;
    height: 100vh;
}

.myprofile-content{
    height: auto;
    margin-top: 7vh;
    width: 100%;
    padding: 20px;
}

.myprofile-name{
    width: 100%;
    height: auto;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.myprofile-container{
    background-color: #D3D3D3;
    height: 70vh;
    width: 80%;
    margin-top: 5vh;
    margin-left: 25vh;
    border-radius: 10px;
}

.student-myprofile-pic{
    height: 35vh;
    width: 25%;
    margin-top: 5vh;
    margin-left: 7vh;
    border-radius: 5px;
}

.myprofile-student-name{
    margin-top: -30vh;
    width: 60%;
    margin-left: 53vh;
    text-align: left;
    height: auto;
}

.myprofile-student-name h1{
    font-size: 40px;
    text-transform: uppercase;
    color: black;
}

.myprofile-user-details{
    height: 200px;
    width: 65%;
    margin-left: 26vw;
    height: 45vh;
    margin-top: 3vh;
    padding: 10px;
}

.myprofile-edit-btn{
    width: 10%;
    margin-left: 7vw;
    margin-top: -25vh;
    height: 6vh;
    border-radius: 5px;
}

.myprofile-edit-btn button{
    cursor: pointer;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: #000336;
    color: white;
    text-transform: uppercase;
}

.myprofile-user-details p{
    font-weight: bold;
    font-size: 25px;
    text-align: left;
}

.student-myprofile-pic img{
    width: 80%;
    border-radius: 10px;
    margin-top: 5vh;

}
