.counseling-wrapper{
    background-color: white;
    display: flex;
    height: 100vh;
}

.counseling-container{
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    width: 100%;
    height: 80vh;
}

.counseling-name{
    margin-top: 8vh;
    width: 100%;
    display: flex;
    justify-content: first baseline;
}

.counseling-name h1{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bolder;
    font-size: 25px;
    margin-left: 3vh;
    color: black;
}

.counseling-holder{
    background-color: white;
    width: 100%;
    height: 80vh;
    margin-top: 2vh;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    padding: 30px;
    
}

.counseling-contents{
    display: flex;
    flex-direction: column;
}

.counseling-create-btn{
    cursor: pointer;
    background-color: white;
    height: 17vh;
    width: 100%;
    border-radius: 10px;
    box-shadow: 6px 7px 7px rgb(0 0 0 / 20%);
}

.counseling-create-btn button{
    cursor: pointer;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    border: 1px solid #aaa;
    background-color: white;
}

.counseling-create-btn button:hover{
    box-shadow: 0 12px 15px 0 #aaa, 0 14px 10px 0 whitesmoke;
}

.counseling-list{
    margin-top: 8vh;
    height: 50vh;
    border-radius: 5px;
    overflow-y: scroll;
    padding: 5px;
    border: 1px solid #ccc;
}

.counseling-list-contents{
    /* background-color: pink; */
    height: auto;
    width: 100%;
    padding: 1px;
}

.counseling-list-container{
    cursor: pointer;
    color: black;
    height: 60px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.counseling-list-status{
    padding: 5px;
    background-color: #ffdead;
    border-radius: 5px;
    margin-left: 3vh;
}

.counseling-list-status h3{
    text-transform: uppercase;
    color: #ffae42;
}

.counseling-list-name{
    margin-left: 3vh;
}

.counseling-list-container:hover{
    height: 63px;
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.counseling-list-divider{
    margin-top: 1vh;
}

hr{
    height: 1px;
    border-radius: 1px;
    color: whitesmoke;
    margin-left: 12px;
}
