.profile-wrapper {
    background-color: white;
    display: flex;
    width: 100%;
    height: auto;
}

.profile-container {
    width: 100%;
    height: auto;
}

.profile-page-name {
    margin-top: 10vh;
    display: flex;
    justify-content: first baseline;
    margin-left: 5vh;
}

.profile-page-name h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bolder;
    font-size: 40px;
}

.profile-detail-holder {
    background-color: #ebe7fb;
    width: 90%;
    /* background-color: red; */
    height: 70vh;
    margin-top: 2vh;
    margin-left: 5vw;
    border-radius: 10px;
    padding: 30px;
}

.profile-detail-list {
    display: flex;
}

.profile-img-holder {
    /* background-color: red; */
    width: auto;
    padding: 15px;
    height: auto;
}

.profile-img-holder img {
    width: 300px;
    height: 300px;
    -moz-box-shadow: 0px 6px 5px #ccc;
    -webkit-box-shadow: 0px 6px 5px #ccc;
    box-shadow: 0px 6px 5px #ccc;
    -moz-border-radius: 190px;
    -webkit-border-radius: 50%;
    border-radius: 190px;
    margin-top: 20px;
}

.profile-edit-btn{
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: center;
}

button.profile-editbtn{
    height: 40px;
    width: 100px;
    margin-top: 10px;
    background-color:#59618b;
    color: #fff;
    border: 1px ;
    border-radius:10px;
}

button.profile-editbtn:hover{
    cursor: pointer;
   background-color: #30408D;
   height: 45px;
   width: 105px;
}

h1.profile-username{
    text-transform: uppercase;
    font-size: 35px;
}

.profile-label{
    color: #ccc;
    font-weight: 700;
    font-size: 15px;
}

.profile-spacer {
    height: 100px;
}

.profile-details{
    padding: 40px;
    width: 100%;
}
