.pendingviewgm-wrapper {
    background-color: white;
    display: flex;
    height: auto;
}

.pendingviewgm-container {
    align-items: center;
    justify-content: center;
    text-align: center;
    /* background-color: rebeccapurple; */
    width: 100%;
    height: auto;
}

.pendingviewgm-name {
    margin-top: 13vh;
    /* display: flex; */
}

.pendingviewgm-list-container {
    margin-top: 7vh;
    padding: 15px;
    border-radius: 5px;
    width: 80%;
    -webkit-box-shadow: 0px 0px 11px -1px #000000;
    box-shadow: 0px 0px 11px -1px #000000;
    margin-left: 15vh;
    height: auto;
}

.pendingviewgm-list-header {
    /* background-color: rebeccapurple; */
    display: flex;
    height: auto;
    padding: 10px;
    /* justify-content: center; */
}

.pendingviewgm-header-name {
    width: 80%;
    display: flex;
}

h1.pendingviewgm-user-name {
    text-transform: uppercase;
}

.pendingviewgm-header-btn {
    width: 20%;
    height: auto;
    padding: 5px;
}

button.pendingviewgm-download-btn {
    cursor: pointer;
    border: none;
    background: none;
    display: flex;
    margin-left: 20vh;
}

.pendingviewgm-list-details-holder {
    height: auto;
    margin-top: 2vh;
    margin-left: -10vw;
    border-radius: 10px;
    padding: 30px;
}

h2#pendingviewgm-label {
    text-align: left;
    margin-left: 23vh;
}

.pendingviewgm-action-btn {
    display: flex;
    height: auto;
    padding: 15px;
    justify-content: end;
    margin-top: 10px;
}

.pendingviewgm-approvedbtn {
    cursor: pointer;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid #30408D;
    font-size: 16px;
    color: #30408D;
    font-weight: bold;
    margin-right: 2vh;
}

.pendingviewgm-approvedbtn:hover {
    cursor: pointer;
    border: 2px solid #30408D;
    background-color: #30408D;
    color: white;
    box-shadow: 0 0 5px 1px #ccc;
    transition: .5s;
}

.pendingviewgm-declinebtn {
    cursor: pointer;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid #aaa;
    font-size: 16px;
    color: #aaa;
    font-weight: bold;
}

.pendingviewgm-declinebtn:hover {
    cursor: pointer;
    border: 2px solid red;
    color: red;
    box-shadow: 0 0 5px 1px #ccc;
    transition: .5s;
}

.pendingviewgm-spacer{
    height: 100px;
    /* background-color: rebeccapurple; */
}